body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 'menu-lateral content-container';
    height: 100vh;
}

.menu-lateral {
    grid-area: 'menu-lateral';
    display: flex;
    flex-direction: column;
    float: left;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
}

.menu-title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: black;
    background-color: #00a8ff;
}

.menu-title {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.menu-options {
    height: 100%;
}

.menu-button {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected {
    background-color: #00a8ff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
    box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 1);
}

.button-title {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.unselect {
    color: gray;
}

.selected-text {
    color: white;
}

.content-container {
    grid-area: 'content';
    display: flex;
    flex-direction: column;
}

.page-title-container {
    height: 64px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00a8ff;
}

.page-title {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.info-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(189, 189, 189);
    background-color: white;
}

.search {
    width: 70px;
    height: 40px;
    top: -140px;
    left: 40px;
}

.restaurant {
    width: 110px;
    height: 40px;
    top: -340px;
    left: 40px;
}

.info-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-container {
    position: relative;
    top: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(189, 189, 189);
}

.search-container {
    width: 95%;
    height: 150px;
}

.search-icon {
    position: relative;
    top: 60px;
    left: 30px;
    color: #00a8ff;
}

.search-input {
    position: relative;
    width: 30%;
    height: 40px;
    top: 20px;
    left: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.restaurant-container {
    width: 95%;
    height: 350px;
}

.add-restaurant {
    position: relative;
    width: 110px;
    height: 40px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: hidden;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: #00a8ff;
}

.add-restaurant:hover {
    background-color: #0279b4;
}

.table {
    position: relative;
    width: 100%;
    height: 270px;
    top: 40px;
    display: flex;
    flex-direction: column;
}

.table-titles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-titles {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.table-content {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-item {
    width: 95%;
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-item-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.table-item-options {
    position: relative;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-icon {
    color: #00a8ff;
    cursor: pointer;
}

.remove-icon {
    color: red;
    cursor: pointer;
}